:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


html, body{
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  // max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
}

#top-frame{
  width: 200px;
  height: 150px;
  position: absolute;
  top:0;
  left:0;
  border: 1px solid white;
}

#display{
  width: 300px;
  height: 50px;
  position: absolute;
  top:10px;
  right:10px;
  border: 1px dotted rgb(99, 99, 99);
  color: #444;
  font-size: 12px;
  padding: 7px;
  text-align: left;;
}

#main-frame{
  position: relative;
  top:0;
  left:0;
}


#controls{
  background-color: rgba(255, 0, 0, 0.5);
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom:0;
  left:0;
  display: flex;
  gap: 10px;

  .control{
    display:flex;
    flex:1;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.87);
    user-select: none;
    justify-content: center;
    align-items: center;
    cursor: move;

    &.center{
      max-width: 20%;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }
  }
}

